In [2]:
MyVar = 10

In [3]:
MyVar2 = 'Hello'

In [4]:
MyVar3 = 3.8

In [5]:
print(MyVar)

10

In [6]:
print(MyVar2)

Hello

In [7]:
type(MyVar)

int

In [8]:
type(MyVar2)

str

In [9]:
type(MyVar3)

float

In [10]:
MyList = [1, 'Apple', 20.323, "oh shoot!"]

In [11]:
MyList

[1, 'Apple', 20.323, 'oh shoot!']

In [12]:
MyList[0]

1

In [13]:
MyList[1]

'Apple'

In [15]:
List1 = [1, 2, 3, 4, 5]
List2 = ["Emily", "Mike", "Joe", "Ann", "Jack"]
List3 = [3.7, 3.6, 4, 3.9, 3.8]
MyList = [List1, List2, List3]

In [16]:
MyList

[[1, 2, 3, 4, 5],
 ['Emily', 'Mike', 'Joe', 'Ann', 'Jack'],
 [3.7, 3.6, 4, 3.9, 3.8]]

In [17]:
MyList[2][1]

3.6

In [18]:
MyList[1]

['Emily', 'Mike', 'Joe', 'Ann', 'Jack']

In [19]:
MyList[-1]

[3.7, 3.6, 4, 3.9, 3.8]

In [20]:
MyList[-2]

['Emily', 'Mike', 'Joe', 'Ann', 'Jack']

In [21]:
len(MyList)

3

In [22]:
len(MyList[2])

5

In [23]:
print("Before")
print(MyList)

MyList[1][3]= 'Anna'
print('After:')
print(MyList)

Before
[[1, 2, 3, 4, 5], ['Emily', 'Mike', 'Joe', 'Ann', 'Jack'], [3.7, 3.6, 4, 3.9, 3.8]]
After:
[[1, 2, 3, 4, 5], ['Emily', 'Mike', 'Joe', 'Anna', 'Jack'], [3.7, 3.6, 4, 3.9, 3.8]]

In [26]:
MyList2 = [12, 23, 34, 45, 56, 67, 78]

In [27]:
MyList2[2:5]

[34, 45, 56]

In [29]:
MyList2[:3]

[12, 23, 34]

In [32]:
MyString = "My Name is Roy Jafari."

In [33]:
MyString[-11:-1]

'Roy Jafari'

In [34]:
MyString[11:21]

'Roy Jafari'

In [36]:
MyString[10]='f'

TypeError: 'str' object does not support item assignment

In [37]:
Name_Start = MyString.find('Roy')
print(Name_Start)

11

In [38]:
Name_end = MyString.find('Jafari')
print(Name_end)

15

In [39]:
MyString.find('Ruholla')

-1

In [40]:
MyString.split()

['My', 'Name', 'is', 'Roy', 'Jafari.']

In [42]:
ListOfWord = MyString.split()
'Roy' in ListOfWord

True

In [43]:
'Ruholla' in ListOfWord

False

In [44]:
MyString.split('Roy')

['My Name is ', ' Jafari.']